.LEFTSB {
    height: 100vh;
    min-width: 350px;
    max-width: 335px;
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.LEFTSB__Header{
    height: 200px;
}

.LEFTSB__InnerContainer{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgb(69, 72, 90);
    border-radius: 10px;
    padding: 10px;
    color: rgb(209, 218, 224);
}