*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: rgb(156, 170, 182);
}

.main-container{
    display: flex;
}



.App{
    height: 100vh;
}

@media (orientation:portrait){
    .main-container{
        flex-direction: column-reverse;
    }
    .App{
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        position: relative;
    }

}

@media (orientation:landscape) and (max-width:1000px){
    .App{
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        position: relative;
    }

}