.LEFTSB {
    height: 100vh;
    min-width: 350px;
    /* max-width: 335px; */
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(213, 213, 230);
    flex-grow: 1;
    flex-basis: 0;
}



.RIGHTSB {
    height: 100vh;
    min-width: 350px;
    /* max-width: 335px; */
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(213, 213, 230);
    flex-grow: 1;
    flex-basis: 0;
}

.LEFTSB__header{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
}

.LEFTSB__logo-container{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(81, 85, 102);
    margin-bottom: 20px;
    border-radius: 15px;
}
.LEFTSB__img-container{
    height: 100%;
    width: 95px;
    display: flex;
    align-items: center;
    filter: invert(11%) sepia(10%) saturate(1143%) hue-rotate(201deg) brightness(99%) contrast(94%)
}

.LEFTSB__title-container{
    width: 190px;
    font-weight: 800;
    font-size: 20px;
    /* color: rgb(36, 36, 48); */
    text-align: center;
}

.LEFTSB__title-container > p{
    margin: 0;
}

.LEFTSB__logo{
    display: block;
    height: auto;
    width: 100%;
}

.RIGHTSB__open-tab{
    display: none;
}

@media (orientation:landscape) and (max-width:1000px){
    .LEFTSB__logo-container{
        display: none;
    }

    .LEFTSB {
        
        min-width: 250px;
        
    }
   
    .RIGHTSB {

        position: absolute;
        
        max-width: 350px;
        top: 0;
        right: 0px;
        z-index: 20;
    }
    .LEFTSB__header{
        height: 75px;
       
    }

    .RIGHTSB__open-tab{
        position: absolute;
        left: -20px;
        top: calc(25vh - 30px);
        width: 20px;
        height: 60px;
        background-color: rgb(57, 57, 73);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        stroke: rgb(213, 213, 230);
    }
}



@media (orientation:portrait){
    .LEFTSB__logo-container{
        display: none;
    }
    .LEFTSB {
        position: absolute;
        bottom: 0;
        
        height: 50vh;
        width: 100vw;
        /* max-width: 335px; */
        background-color: rgb(57, 57, 73);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(213, 213, 230);
        flex-grow: 1;
        flex-basis: 0;
        z-index: 10;
        
    }
    .RIGHTSB {

        position: absolute;
        min-width: 350px;
        
        max-width: 350px;
        top: 0;
        right: 0px;
        z-index: 20;
    }
    .LEFTSB__header{
        height: 75px;
       
    }

    .RIGHTSB__open-tab{
        position: absolute;
        left: -20px;
        top: calc(25vh - 30px);
        width: 20px;
        height: 60px;
        background-color: rgb(57, 57, 73);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        stroke: rgb(213, 213, 230);
    }
}



.LEFTSB__logo{

}

.LEFTSB__tabs-container{
    display: flex;
    height: 40px;
    overflow-x: auto;    
}

.LEFTSB__tab{
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
}

.LEFTSB_selected-tab{
    background-color: rgb(81, 85, 102);
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
    flex-grow: 1;
    flex-basis: 0;

}

.LEFTSB__inner-container, .RIGHTSB__inner-container{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgb(81, 85, 102);
    padding: 10px;
    overflow: auto;

}

.LEFTSB__inner-container{
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;


}

.LEFTSB__icon-container{
    color: rgb(57, 57, 73);
    background-color: rgb(145, 145, 153);
    position: absolute;
    padding: 2px;    
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.LEFTSB__icon{
    width: 20px;
    height: 20px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    
}
.LEFTSB__flow-container{
    position: relative;
}
.LEFTSB__flow-item-container{
    display: flex;
    gap: 2px;
    align-items: center;
}

.LEFTSB__flow-label{
    margin: 2px;
    font-weight: bold;
    font-size: 14px;
    flex-shrink: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    

}
.LEFTSB__flow-main-label{
    font-size: 16px;
    margin: 6px;
    font-weight: bold;
    margin-left: 10px;    

}

.LEFTSB__flow-data{
    margin: 2px;
    padding-left: 4px;
    text-transform: capitalize;
    font-size: 14px;
    width: fit-content;

}

.RIGHTSB__inner-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.RIGHTSB__legend {
    height: 600px;
}

.RIGHTSB__legend-flow-container{
    display: flex;
    align-items: center;
    justify-content: start;
}

.RIGHTSB__legend-flowRiver-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    gap: 6px
}
.RIGHTSB__legend-florRivers-container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;    
    scroll-behavior: auto;
    max-height: calc(100% - 110px);
      
}


.RIGHTSB__legend-flow-name{
    font-size: 12px;
    margin: 8px;
    margin: 6px;
}

.RIGHTSB__legend-flow-img{
    height: 4px;
    width: 50px;
    flex-shrink: 0;
}


.LEFTSB__data{
    font-size: 14px;
    padding-left: 10px;
    margin: 6px;
    word-break: normal;
    min-height: 18px;
    font-family: inherit;
    padding: 0;   
    height: fit-content;
}

.MuiInputBase-root{
    padding: 0 !important;

}

.LEFTSB__data:disabled{
    font-size: 14px;
    padding-left: 10px;
    word-break: normal;
    min-height: 18px;
    background-color: inherit;
    border: 0;
    color: rgb(184, 184, 196);;  
    padding: 0;  
    border: 0px;
 }




.LEFTSB__data-label{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;

}
.LEFTSB__data-container{
    display: flex;
    flex-direction: column;
    min-width: 65px;

}

.LEFTSB__data-link{
    color: rgb(184, 184, 196);
    word-break: break-all;
    text-transform: none;


}

.LEFTSB__option-container{
    display: flex;
    padding: 4px;
}
.LEFTSB__option-checkbox{
    width: 14px;
    height: 14px;
    margin: 4px;
}
.LEFTSB__flow-checkbox, .LEFTSB__sphere-checkbox{
    height: 18px;
    width: 18px;
    align-self: baseline;
    
}
.LEFTSB__option-checkbox:checked, .LEFTSB__flow-checkbox, .LEFTSB__sphere-checkbox{
    
    accent-color: rgb(57, 57, 73);
}
.LEFTSB__option-slider{
    max-width: 100px;
    margin-left: 15px;
}

.LEFTSB__new-sphere-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8px;
}

.LEFTSB__new-main-label{
    font-size: 16px;
    margin: 6px;
    font-weight: bold;
    margin-left: 10px;    

}

.LEFTSB__new-travel-data-label{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px; 
    writing-mode: vertical-lr;  

}

.LEFTSB__new-flow-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.LEFTSB__new-flow-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.LEFTSB__new-flow-travel-container{
    display: flex;
    justify-content: center;
    gap: 6px;
}
.LEFTSB__new-flow-type-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;
}
.LEFTSB__new-flow-type-autocomplete{
    width: 100%;
}

.LEFTSB__new-flow-type-color-select{
    width: 28px;
    height: 28px;
    padding: 0px;
    flex-shrink: 0;
}

.LEFTSB__new-button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.LEFTSB__new-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(57, 57, 73);
    border-radius: 10px;
    margin-bottom: 10px;


}

.LEFTSB__new-dropdown-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.LEFTSB__new-sphere-radius-container{
    display: flex;
   

}
.LEFTSB__new-sphere-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-bottom: 10px;
}
.LEFTSB__sphere-radius-container{
    display: flex;
    align-items: center;
   

}

.LEFTSB__data-radius{
    min-width: 35px;
    text-align: right;
}

.LEFTSB__slider{
    padding-top: 0px;
}

.LEFTSB__option-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    
}

.LEFTSB__option-button{
    width: 100%;
}

.LEFTSB__planet-shape-container{
    display: flex;
    align-items: center;
}


.LEFTSB__planet-size-container{
    display: flex;
    align-items: center;
    gap: 10px;

}

.RIGHTSB__planet-card{
    background-color: rgb(213, 213, 230);
    color: rgb(57, 57, 73);
    display: flex;
    margin: 10px;
    border-radius: 15px;  
    align-items: center;
    justify-content:space-around;
    border: 2px solid rgb(57, 57, 73);
    gap: 10px;
    cursor: pointer;

}
.RIGHTSB__planet-card-img-container{
    min-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}
.RIGHTSB__planet-card-data-container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;

    flex-grow: 1;

}
.RIGHTSB__planet-card-info-container{
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 6px;
    width: 100%;

}

.RIGHTSB__planet-card-data{
    margin:0px;
    padding: 2px;
    font-size: 13px;
}
.RIGHTSB__planet-card-name{
    margin:0px;
    padding: 5px;
}

.RIGHTSB__planet-card-container{
    height: 100%;
    overflow-y: scroll;
}

.RIGHTSB__planet-card-img{
    width: 50px;
}

.SB__about{
    text-indent: 20px;
    text-align: justify;
    font-size: 15px;
    padding: 5px;
}



