.LEFTSB {
    height: 100vh;
    min-width: 350px;
    /* max-width: 335px; */
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(184, 184, 196);
    flex-grow: 1;
    flex-basis: 0;
}

.RIGHTSB {
    height: 100vh;
    min-width: 350px;
    /* max-width: 335px; */
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(184, 184, 196);
    flex-grow: 1;
    flex-basis: 0;


}

.LEFTSB__header{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
}

.LEFTSB__logo{

}

.LEFTSB__tabs-container{
    display: flex;
    height: 40px;
    
}

.LEFTSB__tab{
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
}

.LEFTSB_selected-tab{
    background-color: rgb(69, 72, 90);
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
    flex-grow: 1;
    flex-basis: 0;

}

.LEFTSB__inner-container, .RIGHTSB__inner-container{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgb(69, 72, 90);
    padding: 10px;
    
}

.LEFTSB__inner-container{
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: scroll;
    position: relative;


}

.LEFTSB__icon-container{
    color: rgb(57, 57, 73);
    background-color: rgb(145, 145, 153);
    position: absolute;
    padding: 2px;    
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.LEFTSB__icon{
    width: 20px;
    height: 20px;
    
    
}
.LEFTSB__flow-container{
    position: relative;
}
.LEFTSB__flow-item-container{
    display: flex;
    gap: 2px;
    align-items: center;
}

.LEFTSB__flow-label{
    margin: 2px;
    font-weight: bold;
    font-size: 14px;
    flex-shrink: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    

}
.LEFTSB__flow-main-label{
    font-size: 16px;
    margin: 6px;
    font-weight: bold;
    margin-left: 10px;    

}

.LEFTSB__flow-data{
    margin: 2px;
    padding-left: 4px;
    text-transform: capitalize;
    font-size: 14px;
    width: fit-content;

}

.RIGHTSB__inner-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.RIGHTSB__legend {
    height: 600px;
}

.RIGHTSB__legend-flow-container{
    display: flex;
    align-items: center;
    justify-content: start;
}

.RIGHTSB__legend-flowRiver-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    gap: 6px
}
.RIGHTSB__legend-florRivers-container{
    display: flex;
    flex-wrap: wrap;
}


.RIGHTSB__legend-flow-name{
    font-size: 12px;
    margin: 8px;
    margin: 6px;
}

.RIGHTSB__legend-flow-img{
    height: 4px;
    width: 50px;
    flex-shrink: 0;
}


.LEFTSB__data{
    font-size: 14px;
    padding-left: 10px;
    margin: 6px;
    word-break: normal;
    min-height: 18px;
    font-family: inherit;
    padding: 0;   
    height: fit-content;
}

.MuiInputBase-root{
    padding: 0 !important;

}

.LEFTSB__data:disabled{
    font-size: 14px;
    padding-left: 10px;
    word-break: normal;
    min-height: 18px;
    background-color: inherit;
    border: 0;
    color: rgb(184, 184, 196);;  
    padding: 0;  
    border: 0px;
 }




.LEFTSB__data-label{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;

}
.LEFTSB__data-container{
    display: flex;
    flex-direction: column;
}

.LEFTSB__data-link{
    color: rgb(184, 184, 196);
    word-break: break-all;

}

.LEFTSB__option-container{
    padding: 4px;
}

.LEFTSB__new-sphere-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8px;
}

.LEFTSB__new-main-label{
    font-size: 16px;
    margin: 6px;
    font-weight: bold;
    margin-left: 10px;    

}

.LEFTSB__new-flow-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.LEFTSB__new-flow-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

.LEFTSB__new-button-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}