.LEFTSB {
    height: 100vh;
    min-width: 350px;
    /* max-width: 335px; */
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(184, 184, 196);
    flex-grow: 1;
    flex-basis: 0;
}

.RIGHTSB {
    height: 100vh;
    min-width: 350px;
    /* max-width: 335px; */
    background-color: rgb(57, 57, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(184, 184, 196);
    flex-grow: 1;
    flex-basis: 0;


}

.LEFTSB__header{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
}

.LEFTSB__logo{

}

.LEFTSB__tabs-container{
    display: flex;
    height: 40px;
    
}

.LEFTSB__tab{
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
}

.LEFTSB_selected-tab{
    background-color: rgb(69, 72, 90);
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
    flex-grow: 1;
    flex-basis: 0;

}

.LEFTSB__inner-container, .RIGHTSB__inner-container{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgb(69, 72, 90);
    padding: 10px;
    
}

.LEFTSB__inner-container{
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}
.RIGHTSB__inner-container {
    margin-top: 20px;
    border-radius: 10px;
}

.RIGHTSB__legend {
    height: 600px;
}

.RIGHTSB__legend-flow-container{
    display: flex;
    align-items: center;
    justify-content: start;
}

.RIGHTSB__legend-flowRiver-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    gap: 6px
}
.RIGHTSB__legend-florRivers-container{
    display: flex;
    flex-wrap: wrap;
}


.RIGHTSB__legend-flow-name{
    font-size: 12px;
    margin: 8px;
    margin: 6px;
}

.RIGHTSB__legend-flow-img{
    height: 4px;
    width: 50px;
    flex-shrink: 0;
}


.LEFTSB__data{
    font-size: 14px;
    padding-left: 10px;
    margin: 6px;
    word-break: normal;
    min-height: 18px;

}

.LEFTSB__data-label{
    font-size: 16px;
    font-weight: bold;

}
.LEFTSB__data-container{
    display: flex;
    flex-direction: column;
}

.LEFTSB__data-link{
    color: rgb(184, 184, 196);
    word-break: break-all;

}

.LEFTSB__option-container{
    padding: 4px;
}