.SPHERE__node{
    display: flex;
    align-content: center;
    border-radius: 50%;
    border-width: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.SPHERE__name{
    white-space: nowrap;
}