.SPHERE__node{
    display: flex;
    align-content: center;
    border-radius: 50%;
    border-width: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 102%;
    background-position: center;
}

.SPHERE__node-selected{  
    background-color: rgb(121, 161, 207);    
}

.SPHERE__name{
    white-space: nowrap;
}
