.START__bg{
    height: 100%;
    background-color: rgb(57, 57, 73);
    display: flex;
    justify-content: center;

}

.START__option-container{
    background-color: rgb(81, 85, 102);
    height: 100%;
    display: flex;
    filter: grayscale(0%);
    transition: 1s;

}

.START__option{
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto 100%;
    background-position: center;
    filter: grayscale(100%);
    transition: 500ms;


}

.START__option:hover{
    filter: grayscale(0%);
}

.START__button{
    width: 240px;
}

.START__button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}